header {

    top:env(safe-area-inset-top);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: var(--bg-header);

    
    border-bottom: 1px solid var(--header-border);

    z-index: 100;
    color: var(--text-color);
    
}


.about-nav, .header-navigation a {
    color: var(--text-color);
}

.contact-nav {
    color: var(--text-color-secondery) !important;
}

.header-container {
    max-width: 1200px;  
    margin: 0 auto;      
    padding: 0 40px;     

    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    

   
    
}

.header-navigation{
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;

    
    
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;

    
}

.header-logo-image{
    height: 30px;
    width: 30px;
    
    border-radius: 50%;   
    object-fit: cover;  
}



.contact-nav{

    color: var(--text-color-secondery);
    border-radius: 32px;
    border: none;
    background-color: var(--bg-button-main);
    padding: 10px 20px;
    cursor: pointer;

    transition: all 0.25s ease;


    position: relative;

}


/*.contact-nav::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    
    width: 60%;
    height: 10px;

    background: #12b328;
    filter: blur(12px);
    opacity: 0.8;

    border-radius: 50px;
} */



.contact-nav:hover {
    transform: translateY(-3px);
    box-shadow:var(--box-shadow-button-hover);  
}

.contact-nav:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header-navigation a {
    text-decoration: none;

    
   
}



.theme-toggle {
  --toggle-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #131313 ), color-stop(50%, #efefef)) no-repeat;
  background: -o-linear-gradient(left, #131313 50%, #efefef 50%) no-repeat;
  background: linear-gradient(to right, #131313 50%, #efefef 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-toggle::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #131313), color-stop(50%, #efefef)) no-repeat;
  background: -o-linear-gradient(left, #131313 50%, #efefef 50%) no-repeat;
  background: linear-gradient(to right, #131313 50%, #efefef 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-toggle:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-toggle:checked {
  background-position: 100%;
}






.menu-toggle{
    display:none;
    font-size:26px;
    background:none;
    border:none;
    cursor:pointer;
    color: var(--text-color);
}




/* phone*/
@media (max-width: 600px){

.header-container{
    padding: 0 15px;
}

.header-navigation{
    
    padding-right: 0;
    



    position: fixed;

    width: 230px;
    height: 100vh;

    background: var(--bg-panel);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    box-shadow: -10px 0 20px rgba(0,0,0,0.2);



    
}



.theme-toggle{
--toggle-size: 12px;
position:absolute;
top:10px;
right:140px;
}

.about-nav{
    margin-top: 120px;
}


.contact-nav,
.skills-nav{

    margin-top: 10px;
}

.header-navigation.active{
    transform: translateX(0);
}

.header-navigation a{
    font-size: 20px;
}

.contact-nav{
    padding: 8px 14px;
    font-size: 14px;
}

.header-logo-image{
    height: 24px;
    width: 24px;
}


.menu-toggle{
    display: block;
    font-size:26px;
    background:none;
    border:none;
    cursor:pointer;
    color: var(--text-color);

    z-index: 101;

    
}







} 

/*small phone 
@media (max-width: 414px){

.header-container{
    padding: 0 15px;
}

.header-navigation{
    gap: 10px;
    padding-right: 0;
}

.header-navigation a{
    font-size: 11px;
}

.contact-nav{
    padding: 8px 14px;
    font-size: 14px;
}

.header-logo-image{
    height: 30px;
    width: 30px;
}

} */


/* ipad */
@media (max-width: 900px){

.header-container{
    padding: 0 20px;
}

.header-navigation{
    gap: 20px;
}

}


/* iPad Pro */
@media (max-width: 1024px){



}

