.hero-section{
    margin-top: 30px;
    padding-top: 60px;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color); /* */
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
}

.hero-left{
    margin-left: 40px;
}

.hero-content{
    display: grid;
}

.hero-image{
    height: 400px;
    width: 400px;

    border-radius: 50%;   
    object-fit: cover;  
}

.hero-title{
    font-size: 60px;
    margin-bottom: 30px;
}

.hero-subtitle{
    color: #717182;
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-description{
    color: #717182;
    font-size: 15px;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    gap: 30px;
}

.primary-button {
    font-weight: 700;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: black;
    padding: 12px 32px;
    cursor: pointer;

    transition: all 0.25s ease;
}

.primary-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.primary-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.secondary-button {
    font-weight: 700;
    color: black;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background-color: white;
    padding: 12px 32px;
    cursor: pointer;

    transition: all 0.25s ease;
}

.secondary-button:hover {
    transform: translateY(-3px);
    background-color: #f5f5f5;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}


.secondary-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
}


/* phone */
@media (max-width: 600px){

    .hero-container{
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-image{
    width: 220px;
    height: 220px;
    }

    .hero-title{
    font-size: 32px;
    }  

    .hero-subtitle{
    font-size: 16px;
    }

    .hero-description{
    font-size: 14px;
    }

    .hero-buttons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    }
    

    .primary-button,
    .secondary-button{
    width: 50%;
    
    }

    

}

/*small phone */
@media (max-width: 414px){

.primary-button,
    .secondary-button{
    width: 35%;
    
    
    }

}

/* ipad */
@media (max-width: 900px){

.hero-container{
    flex-direction: column;
    text-align: center;
}

.hero-left{
    margin-left: 0;
}

.hero-buttons{
    justify-content: center;
}

.hero-image{
    width: 300px;
    height: 300px;
}

.hero-title{
    font-size: 42px;

    
}


}
/* iPad Pro */
@media (max-width: 1024px){

    
    

    .hero-title{
    font-size: 36px;
    }  

    .hero-subtitle{
    font-size: 20px;
    }

    .hero-description{
    font-size: 18px;
    }

    .hero-buttons{
    flex-direction: row;
    gap: 15px;
    }
    

    .primary-button,
    .secondary-button{
    width: 35%;
    
    
    }



}
