.hero-section{
    
    padding-top: 90px;

    background-color: var(--bg-main);
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
}

.hero-left{
    margin-left: 40px;
}

.hero-content{
    display: grid;
}

.hero-image{
    height: 400px;
    width: 400px;

    border-radius: 50%;   
    object-fit: cover;  
    

    box-shadow: var(--box-shadow-image-light);

    
}

.hero-title{
    font-size: 60px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.hero-subtitle{
    color: var(--description-color);
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-description{
    color: var(--description-color);
    font-size: 15px;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    gap: 30px;
}

.primary-button {
    font-weight: 700;
    color: var(--text-color-secondery); 
    border-radius: 8px;
    border: 1px solid var(--border-button-main);
    background-color: var(--bg-button-main);
    padding: 12px 32px;
    cursor: pointer;

    transition: all 0.25s ease;
}

.primary-button:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-primary-hover);
}

.primary-button:active {
    transform: translateY(0);
    box-shadow: var(--box-shadow-primary-active);
}


.secondary-button {
    font-weight: 700;
    color: var(--text-color);
    border-radius: 8px;
    border: 1px solid var(--border-button-secondary);
    background-color: var(--bg-button-secondary);
    padding: 12px 32px;
    cursor: pointer;

    transition: all 0.25s ease;
}

.secondary-button:hover {
    transform: translateY(-3px);
    background-color: var(--secondary-button-bg);
    box-shadow: var(--box-shadow-secondary-button-hover);
}




.secondary-button:active {
    transform: translateY(0);
    box-shadow: var(--box-shadow-secondary-button-active);
}



/* phone */
@media (max-width: 600px){

    .hero-container{
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-image{
    width: 220px;
    height: 220px;
    }

    .hero-title{
    font-size: 32px;
    }  

    .hero-subtitle{
    font-size: 16px;
    }

    .hero-description{
    font-size: 14px;
    }

    .hero-buttons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    }
    

    .primary-button,
    .secondary-button{
    width: 50%;
    
    }

    

}

/*small phone */
@media (max-width: 414px){

.primary-button,
    .secondary-button{
    width: 35%;
    
    
    }

}

/* ipad */
@media (max-width: 900px){

.hero-container{
    flex-direction: column;
    text-align: center;
}

.hero-left{
    margin-left: 0;
}

.hero-buttons{
    justify-content: center;
}

.hero-image{
    width: 300px;
    height: 300px;
}

.hero-title{
    font-size: 42px;

    
}


}
/* iPad Pro */
@media (max-width: 1024px){

    
    

    .hero-title{
    font-size: 36px;
    }  

    .hero-subtitle{
    font-size: 20px;
    }

    .hero-description{
    font-size: 18px;
    }

    .hero-buttons{
    flex-direction: row;
    gap: 15px;
    }
    

    .primary-button,
    .secondary-button{
    width: 35%;
    
    
    }



}
